extends layout

block content
   h1= 'Add a joke'
   form(method='POST' action='/addjoke')
        div.form-group
            input(type='text', name='joke', required=true)
            button.btn.btn-primary(type='submit') Add

    label #{jokeAdded}
    br
    a(href="/") Back

